body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #343a40
}

.list-group-item {
    transition: background 0.2s ease;
}

.list-group-item:hover {
    background: #f8f9fa;
}
